@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Lato', sanserif;
} */

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}